* {
  margin: 0;
  padding: 0;

}
.all{
margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  color: rgb(38, 0, 255);
}
button{

  padding: 10px 25px;
  border-radius: 10px;
  border: none;
  color: rgb(18, 6, 82); ;
}

